.calc{
    margin-top: 170px;
    width: 400px;
    height: 600px;
    background-color: rgb(51, 213, 167);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;

    border: 2px solid rgb(203, 95, 18);

    box-shadow: 0 0 30px #18f4b9;
    box-shadow: 0 0 60px #18f4b9;
    box-shadow: 0 0 90px #18f4b9;
    box-shadow: 0 0 120px #18f4b9;

}
#inp{
    width: 300px;
    height: 55px;
    border-radius: 15px;
    border-color: transparent;
    font-size: xx-large;
    pointer-events: none;
    color: #fff;
    background-color: rgb(203, 95, 18) ;
    text-align: right;
}
.input{
    margin-left: 45px;
    padding-top: 10%;
}
body{
    background-color:rgb(29, 10, 10);
}
.row{
    
    margin-left: 12px;
    margin-top: 55px;
}
.btn{
    width: 60px;
    height: 65px;
    margin-left: 25px;
    margin-top: -33px;
    font-size: xx-large;
    border-radius: 20%;
    border-color:transparent;
    color: #fff;
    background-color: rgb(203, 95, 18);
}
.btn-c{
    width: 60px;
    height: 65px;
    margin-left: 25px;
    margin-top: -33px;
    font-size: 45px;
    color: #3b9dee;
    background-color: transparent;
    border-color: transparent;
}


@media (max-width:768px) {
    
    .calc{
        margin-top: 50px;
        width: 340px;
    }
    #inp{
        width: 230px;
        height: 35px;
    }
   
    .btn{
        width: 50px;
        height: 55px;
        margin-left: 20px;
    }
}